policy_module(aethercoin, 1.100.1)

########################################
#
# Declarations
#

type aethercoin_t;
type aethercoin_exec_t;
init_daemon_domain(aethercoin_t, aethercoin_exec_t)

permissive aethercoin_t;

type aethercoin_initrc_exec_t;
init_script_file(aethercoin_initrc_exec_t)

type aethercoin_conf_t;
files_type(aethercoin_conf_t)

type aethercoin_var_lib_t;
files_type(aethercoin_var_lib_t)

type aethercoin_var_run_t;
files_type(aethercoin_var_run_t)

type aethercoin_port_t;
corenet_port(aethercoin_port_t)

########################################
#
# aethercoin local policy
#
allow aethercoin_t self:process { fork };

allow aethercoin_t self:fifo_file rw_fifo_file_perms;
allow aethercoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(aethercoin_t, aethercoin_conf_t, aethercoin_conf_t)
manage_files_pattern(aethercoin_t, aethercoin_conf_t, aethercoin_conf_t)

manage_dirs_pattern(aethercoin_t, aethercoin_var_lib_t, aethercoin_var_lib_t)
manage_files_pattern(aethercoin_t, aethercoin_var_lib_t, aethercoin_var_lib_t)
files_var_lib_filetrans(aethercoin_t, aethercoin_var_lib_t, { dir file })

manage_dirs_pattern(aethercoin_t, aethercoin_var_run_t, aethercoin_var_run_t)
manage_files_pattern(aethercoin_t, aethercoin_var_run_t, aethercoin_var_run_t)

sysnet_dns_name_resolve(aethercoin_t)
corenet_all_recvfrom_unlabeled(aethercoin_t)

allow aethercoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(aethercoin_t)
corenet_tcp_sendrecv_generic_node(aethercoin_t)
corenet_tcp_sendrecv_all_ports(aethercoin_t)
corenet_tcp_bind_generic_node(aethercoin_t)

gen_require(`
    type aethercoin_port_t;
')
allow aethercoin_t aethercoin_port_t:tcp_socket name_bind;

gen_require(`
    type aethercoin_port_t;
')
allow aethercoin_t aethercoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(aethercoin_t)

files_read_etc_files(aethercoin_t)

miscfiles_read_localization(aethercoin_t)

sysnet_dns_name_resolve(aethercoin_t)

allow aethercoin_t aethercoin_exec_t:file execute_no_trans;
allow aethercoin_t self:process setsched;
corecmd_exec_ls(aethercoin_t)
corenet_tcp_connect_http_port(aethercoin_t)
dev_read_urand(aethercoin_t)
fs_getattr_xattr_fs(aethercoin_t)
kernel_read_system_state(aethercoin_t)
